.main {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  min-width: 410px;
  min-height: 800px;
  background-color: #F57921;
}

.logo {
  display: block;
  margin: auto;
}

.board {
  display: block;
  text-align: center;
  border: 5px solid #FFCA08;
  margin: 30px auto;
  margin-bottom: 20px;
  width: 75%;
  height: 60%;
  min-width: 320px;
  min-height: 320px;
  padding: 7px;
  background-color: #398BD4;
}

.row {
  width: 52px;
  height: 52px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: background 0.5s;
}

.normal {
  display: block;
  float: left;
  width: 54px;
  height: 54px;
  text-align: center;
  margin: 5px 8px 5px 8px;
  box-shadow: -3px 3px 3px #404040;
  background-color: white;
  border-radius: 5px;
}

.selected {
  display: block;
  float: left;
  width: 54px;
  height: 54px;
  margin: 5px 8px 5px 8px;
  box-shadow: -3px 3px 3px #404040;
  border-radius: 5px;
  text-align: center;
  background-color: #ACCEEC;
}

.letter {
  padding: 17px;
  font-family: Arial, "Times New Roman", Times, serif;
  font-weight: bold;
}

.container {
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  font-family: Arial, "Times New Roman", Serif;
  font-weight: bold;
}

.currentWord {
  font-weight: normal;
}

.submit {
  float: right;
  margin-right: 30px;
}

.table {
  display: block;
  clear: both;
  width: 190px;
  margin-left: 30px;
  background-color: white;
  border: 2.5px solid #FFCA08;
  font-family: Arial, "Times New Roman", Serif;
  font-size: 16px;
}

.table tr, th {
  clear: both;
  border: 2.5px solid #FFCA08;
}

.word, .words, .totalWord {
  clear: both;
  text-align: left;
  padding-left: 6px;
  padding-top: 6px;
  width: 120px;
  height: 10px;
  border-right: 2.5px solid #FFCA08;
}

.words, .scores {
  font-weight: normal
}

.score, .scores, .total {
  text-align: left;
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 6px;
  height: 25px;
  border-right: 3px solid #FFCA08;
  border-bottom: 2.5px solid #FFCA08;
}

.totalWord, .total {
  background-color: #ACCEEC
}
